.container{

    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 70vh; 
  }

  
   .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding: 20px;
    border-radius: 4px;
    background-color: #01696e;
    max-width: 100%;
    width: 360px;
    margin-bottom: 20px;
    box-shadow: 8px 8px 5px #0199a1;
  }

.botao-card {
    background-color: #ffffff; 
    font-size: 20px; 
    padding: 12px 24px; 
    display: flex;
    justify-content: center; 
}

.botao-card:hover {
    background-color: #ffffff;
}
