.table-container {
    max-height: 700px; /* Aumente para o que você precisar */
    overflow-y: auto; /* Permite rolagem vertical */
    overflow-x: auto; /* Permite rolagem horizontal */
    border: 1px solid #ccc; /* Borda ao redor do contêiner */
    border-radius: 8px; /* Borda arredondada */
    margin-top: 20px; /* Espaçamento superior, se necessário */
    margin-bottom: 20px; /* Espaçamento inferior, se necessário */
    background-color: #0199a1; 
    padding: 10px;
}

.filter-container label {
    margin-right: 15px;
}

.filter-container select,
.filter-container input[type="date"] {
    padding: 10px; /* Ajuste o padding conforme necessário */
    margin-right: 15px; /* Aumenta a distância à direita */
    border: 1px solid #ccc; /* Borda consistente */
    border-radius: 4px; /* Bordas arredondadas */
    background-color: #fff; /* Fundo branco para os campos */
    width: 150px; /* Define uma largura padrão */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona sombra sutil */
}

.filter-container {
    display: flex; /* Adiciona Flexbox */
    justify-content: center; /* Centraliza os itens */
    margin-bottom: 10px;
}

.titulo-lancamentos h1{
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-bottom: 25px; /* Espaço abaixo do título, opcional */
    
    }
