.formulario {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 60vh; 
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding: 20px;
    border-radius: 4px;
    background-color: #085659;
    max-width: 80%;
    width: 500px;
    margin-bottom: 20px;
    box-shadow: 8px 8px 5px #04292a;
  }

  h2 {
    color: white; 
   
}

