
.campo-texto label {
    display: block; 
    margin-bottom: 8px; 
    font-weight: bold; 
    color: rgb(49, 48, 48); 
}

.campo-texto input {
    width: 100%; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-shadow: 6px 8px 5px rgb(185, 185, 185);
}

.campo-texto input:hover,
.campo-texto input:focus {
    border-color: #0199a1; 
    outline: none; 
    box-shadow: 0 0 8px rgba(1, 153, 161, 0.6); 
}